@import "tailwindcss";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Visuelt Pro";
  src: url("./assets/font/VisueltPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-sarthi-green: #9bc53d;
  --color-sarthi-text-secondary: #443730;
  --container-xl: 90rem;
}

body {
  font-family: "Visuelt Pro", sans-serif;
}
