@import "tailwindcss";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Visuelt Pro";
  src: url("/src/assets/fonts/VisueltPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-sarthi-green: #9bc53d;
}

body {
  font-family: "Visuelt Pro", sans-serif;
}
